In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("heart.csv")

In [11]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [13]:
df.shape

(303, 15)

In [15]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [17]:
df = df.dropna()

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 0 to 301
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  297 non-null    int64
 1   Age         297 non-null    int64
 2   Sex         297 non-null    int64
 3   ChestPain   297 non-null    object
 4   RestBP      297 non-null    int64
 5   Chol        297 non-null    int64
 6   Fbs         297 non-null    int64
 7   RestECG     297 non-null    int64
 8   MaxHR       297 non-null    int64
 9   ExAng       297 non-null    int64
 10  Oldpeak     297 non-null    float64
 11  Slope       297 non-null    int64
 12  Ca          297 non-null    float64
 13  Thal        297 non-null    object
 14  AHD         297 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 37.1+ KB

In [21]:
print((df==0).sum())

Unnamed: 0      0
Age             0
Sex            96
ChestPain       0
RestBP          0
Chol            0
Fbs           254
RestECG       147
MaxHR           0
ExAng         200
Oldpeak        96
Slope           0
Ca            174
Thal            0
AHD             0
dtype: int64